{% extends 'admin/master.html' %}
{% block body %}
    <div class="content-section">
        <form method="POST" action="">
            <h3>Кошелек:</h3><input type="text" name="wallet"><br>
            <h4>Применить этот кошелек к:</h4>
            <fieldset class="form-group">
                <label>
                    <input class="bot-check-all" type="checkbox">
                    <b>Все боты</b>
                </label>
                <br>
                {% for bot in bots %}
                    <label>
                        <input class="bot-check" name="bots{{ bot.id }}" type="checkbox" value="{{ bot.id }}">
                        <span style="padding-right: 8px">{{ bot.name }}</span>
                    </label>
                {% endfor %}
            </fieldset>
            <div class="form-group">
                <input type="submit" class="btn btn-primary">
            </div>
        </form>
    </div>
{% endblock body %}
{% block tail %}
    <script>
        $('.bot-check-all').change(function () {
            $('.bot-check').prop('checked', $(this).prop('checked'));
        });
    </script>
{% endblock %}